<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\Code\Git\SendSMS\sms.log" />
  </appSettings>
  <connectionStrings>
    <add name="SendSMS" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=SendSMS;uid=root;password=4213" />
    <add name="test" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=test;uid=root;password=4213" />
  </connectionStrings>
</configuration>