@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ASP.NET Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Web service for sending SMS, viewing sent SMS and aggregated statistics.<br />
                The data is stored in a relational database.<br />
                During send an SMS the mobile country code of the receiver will be identified and stored within the SMS record.<br />
            </p>
            <p>
                This service is able to return the responses in JSON and XML formats.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (IGrouping<HttpControllerDescriptor, ApiDescription> group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
